body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #19234A);
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
